*
  margin 0
  padding 0
  box-sizing border-box
  line-height 1.2
  font-family 'Unbounded', sans-serif
  font-weight 400
  color #fff
  &:before
    box-sizing border-box
h1, h2, h3, h4, h5, h6
  margin 0
ul
  list-style none
a
  text-decoration none
img
  display block
.wrapper
  position relative
  min-height 100vh
  display flex
  flex-direction column
  overflow hidden
  background-image url(../img/bg.jpg)
  background-repeat no-repeat
  background-size cover
  &:before
    content ''
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    background-color rgba(0,0,0,.3)
    z-index 1
.container
  max-width 1207px
  margin 0 auto
  padding 0 15px
  +mq(0, 1430px)
    max-width none
.main
  padding-top 116px
  z-index 1
  +mq(0, 1320px)
    padding-top 68px
  +mq(0, 767px)
    padding-top 40px
  +el(holder)
    position relative
  +el(p)
    max-width 700px
    font-family 'Gilroy', sans-serif
    font-weight 500
    font-size 16px
    color #fff
    font-size 20px
    line-height 1
    
    +mq(0, 767px)
      font-size 15px
      text-align left
    +mq(0, 374px)
      max-width 100%
  +el(video)
    max-width 100%
  +el(title-holder)
    position relative
    margin-bottom 20px
  +el(title-sup)
    position absolute
    bottom calc(100% - 10px)
    left 50%
    transform translateX(-50%)
    font-family "Roboto", sans-serif
    font-size 50px
    font-weight 700
    text-shadow 0 0 12px #fff
    +mq(0, 767px)
      font-size 35px
      bottom calc(100% - 5px)
    +mq(0, 450px)
      font-size 30px
  +el(title)
    position relative
    font-weight 500
    font-size 67px
    text-transform uppercase
    
    color #c91324
    
    background linear-gradient(#c91324 50%, #ffff00)
    -webkit-background-clip text
    -webkit-text-fill-color transparent
    z-index 1
    +mq(0, 1320px)
      font-size 45px
    +mq(0, 1150px)
      text-align center
    +mq(0, 767px)
      font-size 35px
    +mq(0, 450px)
      font-size 30px
  +el(title-back)
    width 100%
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
    font-weight 500
    font-size 67px
    text-transform uppercase
    color #ffff00
    text-shadow 0 3px 7px #ffff00, 0 3px 7px #fff
    +mq(0, 1320px)
      font-size 45px
    +mq(0, 1150px)
      text-align center
    +mq(0, 767px)
      font-size 35px
    +mq(0, 450px)
      font-size 30px
  +el(content)
    margin 0 auto
    padding-top 8px
    margin-bottom 72px
  +el(content-left)
    display inline-flex
    flex-direction column
  +el(top-content)
    display flex
    justify-content flex-start
    align-items flex-end
    gap 20px
    margin-bottom 80px
    +mq(0, 1320px)
      margin-bottom 30px
    +mq(0, 1150px)
      flex-direction column
      align-items center
    +mq(0, 767px)
      margin-bottom 0
.copyright
  position relative
  font-family 'Gilroy', sans-serif
  font-weight 500
  font-size 16px
  text-align right
  color #fff
  z-index 1
  +mq(0, 767px)
    text-align center
.footer
  padding-bottom 38px
  margin-top auto